<!-- <button class="py-2 px-4 bg-pink-500 text-white font-semibold rounded-lg shadow-md hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-pink-400 focus:ring-opacity-75">
  <slot />
</button> -->

<button class="btn">neutral</button> 
<button class="btn btn-primary">primary</button> 
<button class="btn btn-secondary">secondary</button> 
<button class="btn btn-accent">accent</button> 
<button class="btn btn-ghost">ghost</button> 
<button class="btn btn-link">link</button>

 
<!--  DaisyUI component classes : Clean HTML with component classes-->


