---
let title = 'Page not Found';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <div class="bg-gradient-to-br from-indigo-900 to-green-900 min-h-screen overflow-auto">
        <div class="container max-w-5xl mx-auto px-4">
            <p class="mt-10 text-white">This was a web page for an organization that used to exist. This organization no longer exists as it has been replaced with a new organization to teach surf kids the values and love of the ocean. The new site is: https://www.pleasurepointsurfclub.com/
    <br><br> 
If you came upon this page by mistake, try checking the URL in your web browser.</p>

        </div>
    </div>
</body>
</html>        