---
const { content } = Astro.props;
---
<html>
  <head>
    <title>{content.title}</title>
  </head>
  <body> 
    <h1>hello world</h1>      
    <article>      
      <slot />
    </article>
  </body>
</html>