<!-- tailwind.css + bulma.css mixture -->
<div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded">
  Hello World #### in astro component (mixed with bulma.css)
</div>
<div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
     
      <a class="button">
        修飾子無し
      </a>
      <a class="button is-primary">
        修飾子有り is-primary
      </a>
      <a class="button is-link">
        修飾子有り is-link
      </a>
      <a class="button is-info">
        修飾子有り is-info
      </a>
      <a class="button is-success">
        修飾子有り is-success
      </a>
      <a class="button is-warning">
        修飾子有り is-warning
      </a>
      <a class="button is-danger">
        修飾子有り is-danger
      </a>
 

      <div class="columns has-is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column">
          Column
        </div>
        <div class="column">
          Column
        </div>
        <div class="column ">
          Column
        </div>
        <div class="column">
          Column
        </div>
        <div class="column">
          Column
        </div>
        <div class="column">
          Column
        </div>
      </div>
    
    </div>  
    