---
import { Markdown } from 'astro/components';
import Layout from '../layouts/main.astro';

const title = `Extended Markdown`;

---

<Layout content={{ title }}>
  <main>
    <div style="margin-left: 20px;margin-right:20px">
      <Markdown >

# Toggle Button

<details>
 <summary>Summary Goes Here</summary>
 ...this is hidden, collapsable content...
</details>


<details>
  <summary>Click to see the log report</summary>
  Adds three new logging formats to the mod_log_config format specifications, including byte quantities received, sent, and transferred (combination of received and sent quantities). Normally included in the base Apache compile.
LogIOTrackTTFB: Enables time tracking between the initial request read time and the moment the first byte response is sent.

mod_filter: Provides context-sensitive filters to the output chain by registering any number of filter providers. mod_filter is not specific to logging, but allows for extracting specific requests based on the filter provider. Context containers include: main apache config, vhost config, within directory tags, and .htaccess files.

Employing this module allows for filtering requests containing such things as certain injection criteria and which IP address it’s from.

This module is provided by default in many of the package distributions, but may require enabling. For the purposes of logging, the FilterTrace directive posts information to the error log. Directives include:

</details>


# tables

```
:---:  ⇒ Center alignment
:---   ⇒ Left alignment
---:   ⇒ Right alignment

```

| Syntax      | Description | Test Text     |
| :---        |    :----:   |          ---: |
| Header      | Title       | Here's this   |
| Paragraph   | Text        | And more      |
| el | `HTMLElement` | [Duck Duck Go](https://duckduckgo.com) |
| el | `Link To Heading ID` | [blockquote](#blockquote) |
| el | `Link To Heading ID` | [javascript code block](#javascript-code-block) |


# Diff viewer

````diff
MISH's Live stream
- lots of people came today
+ lots more people came today!
````

[1]: http://example.com/ "Title"
[2]: http://example.org/ "Title"


# Use Case

![https://chromeunboxed.com/ezoimgfmt/secure.gravatar.com/avatar/5c5e9a40a44b57c66443188cb7c045fd?s=96&d=mm&r=g&ezimgfmt=rs:48x48/rscb53/ng:webp/ngcb53](https://chromeunboxed.com/ezoimgfmt/secure.gravatar.com/avatar/5c5e9a40a44b57c66443188cb7c045fd?s=96&d=mm&r=g&ezimgfmt=rs:48x48/rscb53/ng:webp/ngcb53)&nbsp;&nbsp;October 30, 2021 11:31 PM By [MICHAEL PERRIGO](https://chromeunboxed.com/author/michael/) [LEAVE A COMMENT](https://chromeunboxed.com/chromebooks-and-national-novel-writing-month#disqus_thread)

Ever since I could remember, I’ve dreamt of writing the “next great American novel”, and have heard this sentiment echoed by others as well. Of course, with the advent of hybrid publishing, self-publishing, and the modern age of the internet, this seems like an odd choice of words. Writing a book isn’t exclusive to the Americas (it never has been), most of the best literature I’ve ever read isn’t even from the United States, and you can’t write something great unless you first practice…and practice…and practice.

That’s why [National Novel Writing Month](https://nanowrimo.org/) exists – it’s an organization that provides tools, structure, community, and encouragement to help authors find their voices, achieve creative goals, and build new worlds – on and off the page. “NaNoWriMo”, as it’s called for short, occurs every year from November 1st to November 30th, and within that month, the goal is to write up a 50,000-word rough draft. It doesn’t have to be perfect – hell, it doesn’t even have to be good.

As someone who’s written two entire novel drafts in past years for the event on nothing but a Chromebook, I wanted to share my process, my tools, and some encouragement with you all. **Chromebooks have undoubtedly become the first choice for millions of writers, whether technical, creative, or otherwise, because of their excellent all-day battery life, low price tag, and simplicity.** I’m certain that many will be seeking out ways to better make use of their Chrome OS laptops beginning tomorrow so they can start their journey towards being published! So, without further ado, let’s explore some great apps and web apps for planning, executing, and marketing as you build your author platform.


## Worldbuilding, Planning and Research

*   [WorldAnvil](https://www.worldanvil.com/) – A set of worldbuilding tools that helps you create, organize and store your world setting. Includes wiki-like articles, interactive maps, historical timelines, full novel-writing software, and more. This is pretty much the go-to worldbuilding toolkit on the internet and for great reason.

*   [Beemgee](https://www.beemgee.com/) – he Beemgee character development and plot outlining suite enables writers to develop narratives that spellbind the audience – and publishers to evaluate them. I’ve personally been using Beemgee for a handful of years, and I can tell you first-hand that being able to view my plot timeline and character’s lives unfold both chronologically and based on the story’s timeline with the flick of a toggle is incredible. No other service does this to my knowledge!

*   [Campfire Blaze](https://www.campfirewriting.com/) – A suite of tools for writers to create characters, timelines, interactive maps, and write their stories as well as to learn the craft via blogs, videos, podcasts, tutorials, and more. You can also present your work, or read projects from other members of the writing community – all through your web browser!

*   [Reedsy](https://reedsy.com/) – A full-fledged chapter-by-chapter-writing software right on the web that has a professional and novel-like feel that you won’t get with Google Docs. Most importantly, it has built-in formatting that just works automatically once you export your draft!

*   [Google Keep](https://keep.google.com/) – I’ve religiously taken notes on the characters, worlds, and plot lines for my novels for years in Keep. It’s the most incredible, on the fly web app for writers and creators, and you should be using it! Not only that, but if you’re writing your book in Google Docs, you can open the right-side panel to access your Keep notes and simply drag and drop them in. You can also use Evernote or other similar services too, but I always prefer Keep for its simplicity and rapid, no-frills notetaking powers.

*   [Notebook.ai](https://www.notebook.ai/) – A smart notebook for worldbuilders. Keep track of every aspect of your fictional or non-fictional world like the characters, locations, items, flora and faunda, governments, and more. They’re always adding new modules, and you can do this all on the fly!

*   [Plot Factory](https://plotfactory.com/) – Online collaborative story planner that lets you craft your universe.

*   [Google Sheets](https://sheets.new/) – A quick way to plug in and keep track of all of the aspects of your fictional world. Weak filtering and sorting tools compared to Airtable though. Also kind of ugly. Area 120 Tables may change this in the future.

*   [Notion](https://notion.so/) – This tool can be overwhelming for its freeform options. It’s insanely powerful, and hardly puts any limitations on you as you use it. To get started, I recommend [this Novel template bundle](https://www.notion.so/redgregory/The-Writer-s-Kanban-a8860004a3594f95acae6f5f5d8567fc) instead of going it alone.

*   [Airtable](https://airtable.com/) – The best way to organize your fictional world, in my opinion. Beats out Google Sheets with more visually appealing data organization. Check out this [Novel Planning base](https://www.airtable.com/universe/expMEvpbOKIt51Glt/novel-planning) to get you started.

*   [Tables by Area 120](https://tables.area120.google.com/about) – An attempt by a Google incubator to bring many of the same features found in Airtable to Google Sheets

*   [Inkarnate](https://inkarnate.com/) – Create fantasy maps for your fictional world to better understand how and where the events unfold!

*   [Worldbuilding Reddit](http://reddit.com/r/worldbuilding) – Mostly visual stimulation through worldbuilding art, but a great place to bring your imationation to life.

*   [AskHistorians Reddit](https://www.reddit.com/r/askhistorians) – If you have a question about the time period your book is set in, this is the place to ask. Not just for non-fiction or historical fiction writers.

*   [Google Collections](https://google.com/save) – I’ve written a lot about Collections, and I use them for gathering inspiration for my worldbuilding! It’s my alternate Pinterest.

*   [Pinterest](https://www.pinterest.com/) – The best way to collect visual inspiration for your fictional world.


## **Writing – the main event**

*   **[Google Docs Novel Template](https://docs.google.com/document/d/1zV9wlZsJcQZ0I8FJNUQyDUR4ZRSfyYnK0uA3OlDxq88/edit?usp=sharing)**

*   **[WritingPrompts Reddit](https://www.reddit.com/r/writingprompts)** – 13.3 million subscribers all go here for ideas!

*   **[Novlr](https://novlr.org/)** – Write from anywhere, both online and offline, on any device. Includes a fantastic focus mode to avoid the unavoidable procrastination, and is secure.

*   **[Draft](https://draftin.com/)** – Collaborative writing and editing tool for the web. Free, and allows you to approve or deny changes.

*   **[Microsoft Word Online](http://office.com/)** – Do I really need to give a description of this one?

*   **[Dropbox Paper](https://www.dropbox.com/paper)** – Dropbox take on Google Docs

*   **[Jotterpad](https://jotterpad.app/)** – Streamlined writing process that’s fluid, flexible, and highly personalized

*   **[Calmly Writer Online](https://www.calmlywriter.com/online/)** – Distraction-free online writer. Loads up to look like a blank page, but it’s not! Get writing!

*   **[Now Novel](https://www.nownovel.com/users/sign\_up)** – Pretty well known

*   **[ZenPen](https://zenpen.io/)** – Minimalist writing zone where you can block out all distractions and just write!

## **Focusing**

*   **[Coffivity](https://coffitivity.com/)** – Recreates cafe ambience to boost your creativity and help you work

*   **[MyNoise](https://mynoise.net/NoiseMachines/cafeRestaurantNoiseGenerator.php)** – Coffe shop noise generator with customizable sliders

*   **[iMissMyCafe](https://imissmycafe.com/)** – Another coffee shop noise maker. I love coffee shops. Did I mention that? Clearly, the name of this site was spawned out of the pandemic.

*   **[Hipstersound](https://hipstersound.com/index.html)** – Create a positive atmosphere on-demand to stay focused, relax, and improve creativity

*   **[Rainy Cafe](https://rainycafe.com/)** – Simple rainy cafe noise

*   **[Rainy Mood](https://rainymood.com/)** – Rain sounds for sleep or study (or writing!) One click and you’re off

*   **[Life.at](https://lifeat.io/)** – yet another generator, but really sets the mood visually!

*   **[Tomato Timer](https://tomato-timer.com/)** – web-based pomodoro timer for writing sprints

*   **[Just Focus](https://chrome.google.com/webstore/detail/just-focus/gefaddaengbodpiobpbgblajdboalmgc?hl=en-US)** – One click install to block out distractions in Chrome

*   **[StayFocused](https://chrome.google.com/webstore/detail/stayfocusd/laankejkbhbdhmipfmgcngdelahlfoji?hl=en)** – The original gangster of distraction blocking in Chrome

*   **[Freedom](https://freedom.to/)** – The app and website blocker for Chrome and other platforms that helps over 2M users reclaim their focus and productivity.

*   **[Zelda and Chill Lofi by GameChops](https://www.youtube.com/watch?v=GdzrrWA8e7A)** – Youtube goodness for nostalgic gamers

*   **[Chilled Cow Lofi Girl](https://www.youtube.com/watch?v=T7GvvbD6S2Y)** – The absolute best music for studying or writing!

*   **[HDSounDi Youtube](https://www.youtube.com/channel/UC26zQlW7dTNcyp9zKHVmv4Q)** – You’ll probably never turn this off – You’ve been warned.

## Community and Encouragement

*   [NaNoWriMo Official Site](https://nanowrimo.org/) – Here, you can create a profile, track your progress throughout the month, and connect with other authors as you venture into the bold unknown of your first draft!

*   [Writing Reddit](http://reddit.com/r/writing)

*   [Writers Reddit](http://reddit.com/r/writers)

*   [NaNoWriMo Reddit](https://www.reddit.com/r/nanowrimo/)

*   [Writer’s Group Reddit](https://www.reddit.com/r/WritersGroup/)

*   [KeepWriting Reddit](https://www.reddit.com/r/KeepWriting/) – A subreddit dedicated to helping writers improve their craft and fuel their creativity. Get feedback, critiques, or crush writer’s block with the help of an active community.

*   As a reminder, you should also curate your social media around writing and publishing influencers like [Jenna Moreci](https://www.youtube.com/channel/UCS\_fcv9kBpDN4WWrfcbCrgw), [Reedsy](https://www.youtube.com/c/Reedsy), [Cam Wolfe](https://www.youtube.com/channel/UCjg6jxuLpD5nrX1MZPbSgpg), [ShaelinWrites](https://www.youtube.com/user/ShaeTheWordNerd), [TaleFoundry](https://www.youtube.com/channel/UCusb0SpT8elBJdbcEJS\_l2A), and so, so many other Authortubers and writers across Instagram, Twitter, and so on.

## Editing, Publishing and Marketing

*   [Reedsy](https://reedsy.com/) – Yep, I’m listing this one again! Reedsy is known for its editing suite, but more so for being the Fiverr or Upwork of the writing and publishing community. Find editors, book cover designers, marketers, proof readers, and more right through the site’s professional connection search. Oh, I almost forgot to mention – there’s also a [free 10-day publishing course](https://blog.reedsy.com/learning/) among [many others](https://blog.reedsy.com/learning/courses/), [live chats](https://blog.reedsy.com/live/) with authors and publishers, a [learning center](https://blog.reedsy.com/) to hone your craft, and more.

*   Use Google Docs to [turn your draft into an ePub](https://alicekeeler.com/2016/04/03/google-docs-create-authors-epub/) for publication – Alice Keeler has created a great guide for this!

*   [Bowker](https://www.bowker.com/) – Buy bar codes for your self-published book

*   [Amazon Kindle Direct Publishing](https://kdp.amazon.com/en\_US/) – Portal for self-publishing your book on Amazon

*   [Amazon Author Central](https://author.amazon.com/) – You’ll want to [turn this and everything else here into apps on your Chromebook](https://chromeunboxed.com/how-to-create-a-web-app-shortcut) with just a few clicks for easy access! Author Central is one hub to manage all of your self-published works on Amazon.

*   [IngramSpark](https://www.ingramspark.com/) – Another go-to self-publishing portal! They also offer global book distribution. I’ve personally published over 50 ghostwritten novels for clients through IngramSpark and KDP, so I highly recommend them!

*   [Pubtips Reddit](https://www.reddit.com/r/PubTips/) – Wisdom from a variety of publishing experts and a place to post query letters for easy community critique.

*   [Publishing Reddit](https://www.reddit.com/r/publishing/) – Relatively active community for talking with others about the publishing industry, its future, current trends, and ideas.

*   [Grammarly](http://www.grammarly.com/) – I’m pretty sure almost everyone knows about this tool, but I wanted to include it anyway as it’s become something I can’t live without! Proofreading tool that helps you spot grammatical errors, typos, and awkward sentences.

*   [Hemmingway Editor](https://hemingwayapp.com/) – Evaluates your writing for clarity and simplicity. Calculates readability via adverbs, passive voice, or words that are too complicated for the circumstances.

*   [Readable](https://readable.com/) – quickly tests the readability, spelling, and grammar of your text and teaches you how to improve.

**My list is by no means exhaustive, and I’m sure that after publishing this, I’ll come up with a hundred more resources for you all as I’ve been collecting and using them for years. What’s important is that you choose what works best for you, and run with it.** Remember, NaNoWriMo is just 30 days, and you need to have a super rough first draft by the end of it. Be inspired, get to work, and remember, you can’t improve something you haven’t even written!



      </Markdown>
      
    </div>   
  </main>
</Layout>